*{
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Exo', sans-serif;

}

.banner {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
}

hr {
  height: 1px;
  background-color: rgb(0, 0, 0);
}

a{
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 20px;
  align-items: center
}

.logo{
  margin-left: 2%;
  width: 10%;
  height: auto;
}
  
.main_nav{
  position: relative;
  display: flex;
  float: right;
  margin-right: 2%;
  justify-content: space-between;
  list-style: none;
}

.nav_links{
  padding: 4px;
  color: black;
}

body{
  background-color: rgb(248, 249, 250);
}

/* .main_nav li:hover{
  background-color: rgb(168, 56, 56)
} */

.main_nav li a{
  color: #000000;
}


/* Estilos de la galeria */

h1{
  text-align: center;
  color: #444;
  padding: 2%;
}

.gallery-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1%;
  background-color: rgb(248, 249, 250);
}

.box-image{
  margin: 0px;
  padding: 33px;
  width: 20%;

}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* .title-image{
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
  width: 100%;
  margin: 0%;
  padding: 10px;
}  */
